# Install: /etc/systemd/system/dash-d-check-space.service
# Enable: systemctl enable dash-d-check-space.service
# Start: systemctl start dash-d-check-space.service

[Unit]
Description=Dash'd Check-Space Sensor
After=network.target

[Service]
Type=simple
# Change the path here to where you deposit the script
# (be sure to set the u+x bit!).
ExecStart=/home/bob/check-space.sh
# Change the user/group target to one on your system.
User=bob
Group=bob

# Give the script some time to startup
TimeoutSec=10

[Install]
WantedBy=default.target
